<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vamsivibecoding.myexpenses.notificationlistener">

    <application>
        <service
            android:name=".NotificationListener"
            android:label="My Expenses Notification Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
</manifest>
